<% @title = "Agradecimientos" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

No habríamos podido hacer esta web sin el apoyo de mySociety, que destinó sus conocimientos y recursos para hacer esta iniciativa posible. Además, contamos con el apoyo inicial de la organización ciudadana Civio, de Eva Belmonte y Victoria Anderica, quienes nos motivaron a trabajar por la transparencia en Colombia a través de su experiencia en tuderechoasaber.es.

<div id="hash_link_padding"></div>


</div>
