<% @title = "¿Cómo nos puedes ayudar?" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <h1>¿Cómo nos puedes ayudar?</h1>

  <h2>Aportaciones económicas</h2>

  <p>Si quieres hacer una donación económica a Queremosdatos.co puedes ponerte en contacto con nosotros. Este dinero lo utilizaremos para mantener la Web y fomentar actividades que fortalezcan la transparencia en el país.</p>

  <h2>Voluntarios</h2>

  <ul>
    <li>Ayúdanos a difundir este proyecto, con un post en tu web o en tu blog, por ejemplo o con Twitter recomendando <a href="https://twitter.com/datasketch">@datasketch</a> y usando <code>#queremosdatos</code>.</li>
    <li>Si ves algún problema con la web, avísanos pues siempre estamos trabajando en ella.</li>
    <li>Si quieres ayudarnos con el diseño y la programación de la web, o con la administración del servidor eres más que bienvenido. Escríbenos a <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>.</li>

  </ul>

  <h2>Instituciones públicas</h2>

  <p>Si eres una institución pública, puedes ser entidad colaboradora o aliada. No puedes darnos dinero pero podemos colaborar para hacer que la Web sea mejor y más colaborativa. ¡Juntos podemos fomentar la transparencia en Colombia!</p>
</div>

