<% @title = "Solicitar información a nivel estatal" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="what_rights">
1. ¿Tengo derecho a realizar una solicitud? <a href="#what_rights">#</a>
</dt>

<dd>
  <p>Toda persona tiene eI derecho a solicitar y recibir información de cualquier sujeto obligado por la Ley. Las peticiones pueden hacerse de forma oral o escrita, incluida la vía electrónica, que es la que utiliza este portal. En ningún caso podrán ser rechazadas peticiones de información por considerar que tengan una fundamentación inadecuada o estén incompletas.</p>
</dd>

<dt id="what_information">
  2. ¿Qué información puedo solicitar? <a href="#what_information">#</a>
</dt>

<dd>
  <p>Puedes solicitar documentos, archivos o todo tipo de información que esté en manos de organismos públicos y que no esté sujeta a reservas legales o que protejan el derecho a la intimidad de terceros.</p>
</dd>

<dt id="which_authority">
  3. ¿A quién puedo dirigirme? <a href="#which_authority">#</a>
</dt>

<dd>
  <p>A través de esta página puedes enviar solicitudes de acceso a la información a cualquier institución pública en Colombia. También puedes pedir información a personas jurídicas o naturales que manejen recursos o información pública.</p>

  <p>Seguimos construyendo Queremosdatos.co, por lo que puede ocurrir que aún no tengamos algunos contactos o nos falte alguna institución. En este caso, por favor, avísanos e intentaremos encontrarla lo antes posible. Por otra parte, si puedes darnos la información sería estupendo. Así podríamos incluirla rápidamente en la web y otras personas se beneficiarán de tu aportación.</p>

  <p><a href="<%= list_public_bodies_default_path %>">Clic aquí para ver la lista completa de instituciones.</a></p>
</dd>

<dd>


<dt id="why_bother">
  4. ¿Por qué debería solicitar información a las instituciones colombianas? <a href="#why_bother">#</a>
</dt>

<dd>
  <p>En una democracia sana, los ciudadanos deben poder saber lo que hacen sus gobiernos.</p>

  <p>Para poder votar por nuestros representantes, necesitamos poder tener toda la información sobre quién toma las decisiones y en qué criterios se basan. Nuestro Gobierno debe ser abierto, transparente y mostrar qué está haciendo y cómo lo está haciendo.</p>

  <p>Además, el derecho de acceso a la información tiene un efecto disuasorio y preventivo. La posibilidad de poder solicitar cualquier información relacionada con la actividad pública hace que haya menos tentación de cometer actos corruptos, e incluso mejora y hace más eficiente el trabajo de las instituciones públicas.</p>
</dd>

<h2>Localizar la institución pública adecuada</h2>

<dt id="finding_authorities">
  5. ¿Qué pasa si no sé a qué organismo tengo que dirigirme? <a href="#finding_authorities">#</a>
</dt>

<dd>
  <p>Si tienes una pregunta pero no estás seguro del organismo público al que tienes que dirigirte para solicitar la información que necesitas, prueba lo siguiente:</p>

  <ul>
    <li>Consulta o busca en queremosdatos.co solicitudes similares a la tuya.</li>
    <li>Lee la descripción de cada organismo público para informarte de lo que hacen.</li>
    <li>Cuando hayas encontrado el organismo que, en tu opinión, posee la información deseada, usa el enlace de la “página principal” para consultar su sitio web.</li>
    <li>En el caso de que no hayas acudido al organismo correcto, puedes preguntarle dónde deberías enviar tu solicitud. Si lo saben, deberían informarte de ello.</li>
    <li>Si todavía tienes dudas, por favor ponte en contacto con nosotros para que podamos ayudarte.</li>
  </ul>
</dd>

<h2>Consejos sobre las solicitudes</h2>

<dt id="focused">6. ¿Qué constituye una buena solicitud? <a href="#focused">#</a></dt>

<dd>
  <p>Por favor, incluye en tu solicitud la información necesaria para identificar fácilmente la información que estás pidiendo.</p>

  <p>Los mensajes cortos y concisos hacen que sea más fácil para los funcionarios identificar la información que pides, lo que significa que recibirás una respuesta más rápidamente.</p>

  <p>Además, una petición bien formulada da menos razones a los funcionarios para rechazarla por considerarla vaga o poco precisa. Sin embargo, no te preocupes por hacerla perfecta: en principio, en caso de que tu solicitud no sea clara, la institución a la que la envíes debería ponerse en contacto contigo para aclararla.</p>

  <p>Por favor, no incluyas:</p>
  <ul>
    <li>Argumentos basados en un tema o causa de tipo personal;</li>
    <li>Declaraciones que puedan difamar o insultar a terceras personas;</li>
    <li>Lenguaje ofensivo.</li>
  </ul>
  <p>En caso contrario, nos veremos obligados a rechazar tu petición. Si fuera así, te lo haríamos saber y estaríamos siempre dispuestos a discutir caso por caso.</p>
</dd>

<dt id="data_protection">
  7. ¿Puedo pedir información sobre mí mismo? <a href="#data_protection">#</a>
</dt>

<dd>
  <p>No utilices tuderechoasaber.es para acceder a tu propia información personal. Si quieres información sobre ti mismo, utiliza preferiblemente las normas de Protección de Datos. Haz clic aquí para más información.</p>
</dd>

<dt id="multiple">
  8. ¿Puedo enviar la misma solicitud a distintos órganos? <a href="#multiple">#</a>
</dt>

<dd>
  <p>Puedes pedir la misma información a más de una institución, si bien es mejor empezar por la institución que tenga más posibilidades de tener la información que necesitas.</p>

  <p>Si esa institución no cuenta con todos los documentos relevantes, puedes preguntar a quién deberías enviar tu solicitud.</p>

  <p>Actualmente no existe un sistema automático para enviar las peticiones al resto de autoridades, tendrás que copiarlo y pegarlo a mano.</p>
</dd>

<h2>Respuestas y apelaciones</h2>

<dt id="fees">
  9. ¿Tendré que pagar por solicitar información? <a href="#fees">#</a>
</dt>

<dd>
  <p>Solicitar información en Colombia es gratuito.</p>

  <p>Recibir información en formato electrónico es gratuito. Es recomendable indicar en qué formato se prefiere recibir la información.</p>

  <p>En el caso en que se quiera recibir información impresa, la institución puede cobrar una tasa por realizar estas copias, pero este cobro deberá equivaler únicamente al precio real de la copia y no debería suponer un lucro para la institución.</p>
</dd>

<dt id="quickly_response">
  10. ¿Cuándo obtendré una respuesta? <a href="#quickly_response">#</a>
</dt>

<dd>
  <p>Según la legislación vigente, las instituciones tienen <b>15 días hábiles</b> para contestar a las solicitudes de información.</p>

  <p>En Queremosdatos.co te avisaremos cuando haya pasado este tiempo para que si quieres reclames tu información. Puedes llamar a la institución a la que realizaste la solicitud para preguntar en qué estado se encuentra tu petición.</p>

  <p>Normalmente, al enviar tu solicitud, las instituciones deben darte algún tipo de recibo o e-mail de confirmación. Es recomendable exigir este tipo de documentos por si tuvieras que recurrir en un futuro.</p>
</dd>

<dt id="reuse">
  11. ¿Puedo reutilizar la información recibida? <a href="#reuse">#</a>
</dt>

<dd>
  <p>En general, la información en manos de las instituciones es “pública” en el sentido de que han sido creadas con el dinero de los contribuyentes. Por lo tanto tendrías que ser libre de utilizar los documentos que recibes y la información que contienen.</p>

  <p>Sin embargo, existen normas que regulan la reutilización de la información del sector público, pero esto solo te concierne si has solicitado un gran volumen de información o una base de datos que pueda afectar a terceros.</p>

  <p>En caso de duda, especialmente si tienes pensado utilizar el material para propósitos comerciales, pregunta al organismo al que has solicitado la información o ponte en contacto con nosotros.</p>
</dd>

<dt id="no_response">
  12. ¿Qué pasa si no recibo una respuesta? <a href="#no_response">#</a>
</dt>

<dd>
  <p>Si no recibes una respuesta a tiempo, Queremosdatos.co te enviará un correo. Puedes recibir dos tipos de aviso por parte nuestra:</p>

  <ol>
    <li>El primero, transcurridos 7 días desde que enviaste tu solicitud para que, si lo deseas, contactes con la institución a la que enviaste tu solicitud y puedas preguntar por ésta.</li>
    <li>El segundo, transcurridos 15 días desde que enviaste tu solicitud para que, si lo deseas, puedas reclamar tu derecho a la información.</li>
  </ol>
</dd>

<dt id="not_satisfied">
  13. ¿Qué pasa si recibo una respuesta que no me satisface? <a href="#not_satisfied">#</a>
</dt>

<dd>
  <p>Hay cierto número de casos en los que puedes estar insatisfecho con la respuesta a tu solicitud:</p>

  <ol>
    <li>Sólo has recibido parte de la información que solicitaste (pero no un rechazo formal), o la información que te ha sido facilitada es irrelevante o no responde completamente a tu pregunta – puedes calificar tu respuesta como “respuesta incompleta”;</li>
    <li>Te han dicho que la información “no está en poder” del organismo al que enviaste tu solicitud;</li>
    <li>Te han denegado el acceso a la información o a los documentos que has solicitado;</li>
    <li>No has recibido ninguna respuesta (“silencio administrativo”).</li>
  </ol>

  <p>Tendrás la posibilidad de “clasificar” tu respuesta según una lista de categorías (ver punto 15). Si no sabes cómo hacerlo te ayudaremos.</p>

  <p>Si piensas que la respuesta es incorrecta, puedes contactar con la institución o interponer un recurso administrativo.</p>
</dd>

<dt id="classification">
  14. Clasificación de las respuestas <a href="#classification">#</a>
</dt>

<dd>
  <p>Las respuestas de las administraciones pueden ser muy diversas y según lo que contesten debes reaccionar de una u otra manera:</p>

  <ul>
    <li>Información recibida: La institución ha contestado a tiempo y con la información solicitada.</li>
    <li>Información recibida parcialmente: La institución ha contestado a tiempo pero no con toda la información solicitada porque considera que una parte de esta información no debe ser pública.</li>
    <li>No tiene la información: La institución contesta alegando que no tienen la información</li>
    <li>Información incompleta: La institución ha contestado a tiempo pero no incluye toda la información solicitada.</li>
    <li>Información inadecuada: La respuesta de la institución no corresponde a la información solicitada.</li>
    <li>Silencio: Transcurrido el tiempo que tiene para contestar, la institución no ha contestado.</li>
    <li>Esperando respuesta</li>
    <li>Esperando una aclaración</li>
    <li>Información denegada: la institución ha contestado denegando la información</li>
    <li>Requiere revisión del administrador: Marca esta casilla si quieres que el administrador revise la pregunta o la respuesta de esta solicitud.</li>
  </ul>

  <p>En los casos en los que no quedes satisfecho con la respuesta por falta de respuesta, por ser incompleta o inadecuada, recomendamos antes de plantear un recurso dirigirnos de nuevo a la institución que nos contesta para intentar recibir la información solicitada.</p>
</dd>

<dt id="refusal">
  15. ¿Cuáles son las causas por las que pueden denegarme la información que he solicitado? <a href="#refusal">#</a>
</dt>

<dd>
  <p>La Ley establece en los artículos 18 y 19 que no se dará información que viole la intimidad, el derecho de toda persona a la vida, la salud o la seguridad o los secretos comerciales, industriales y profesionales.</p>

  <p>También se te puede negar el acceso a información si el organismo involucrado considera que se pone en riesgo la defensa y seguridad nacional; la seguridad pública, y las relaciones internacionales. Tampoco la darán si consideran que se puede afectar la investigación y persecución de los delitos y las faltas disciplinarias, mientras que no se haga efectiva la medida de aseguramiento o se formule pliego de cargos.</p>

  <p>Igualmente, si se vulnera el debido proceso y la igualdad de las partes en los procesos judiciales; la administración efectiva de la justicia; los derechos de la infancia y la adolescencia;la estabilidad macroeconómica y financiera del país, o la salud pública.</p>

  <p>Se exceptúan también los documentos que contengan las opiniones o los puntos de vista que formen parte del proceso deliberativo de los servidores públicos.</p>

  <p>Pero esto no debe desmotivante. Si tienes una pregunta, hazla, aunque pienses que pueda ser información no accesible. Si te deniegan la información, el equipo de Queremosdatos.co está dispuesto a aconsejarte sobre la posibilidad de presentar un recurso.</p>
</dd>

<dt id="resources">
  16. Los recursos en Colombia <a href="#resources">#</a>
</dt>

<dd>
  <p>Cuando la respuesta a tu solicitud invoque la reserva de seguridad y defensa nacional o relaciones internacionales, el solicitante podrá acudir al recurso de reposición, el cual deberá interponerse por escrito y sustentando dentro de los tres días siguientes a la respuesta. Si quieres más información puedes ponerte en contacto con nosotros.</p>
</dd>

<h2>Moderación de las solicitudes</h2>

<dt id="moderation">
  17. ¿Cómo se moderan las solicitudes y los comentarios? <a href="#moderation">#</a>
</dt>

<dd>
  <p>Animamos a todo el mundo a realizar solicitudes y ofrecemos la posibilidad de que cualquier persona que esté registrada inserte comentarios en tus consultas.</p>

  <p>Nuestro equipo consulta los contenidos con regularidad y nos reservamos el derecho de eliminar declaraciones poco apropiadas, como las de naturaleza ofensiva o potencialmente difamatoria. Si eliminamos alguno de tus comentarios, te lo haremos saber para que podamos aclararlo y buscar una solución.</p>

  <p>Del mismo modo, tú puedes denunciar contenidos inadecuados si los encuentras. Solo tiene que categorizar la solicitud como “Requiere revisión del administrador” y en seguida miraremos la solicitud, también puedes <a href="<%= help_contact_path %>">ponerte en contacto con nosotros</a> y nos lo cuentas.</p>
</dd>

<dt id="sharing">
  18. He realizado solicitudes de las que he conseguido respuesta, ¿puedo compartirla en este sitio? <a href="#sharing">#</a>
</dt>

<dd>
  <p>Lamentamos decirte que no es posible. Queremosdatos.co archiva las solicitudes realizadas a través del sitio web pero no pretende ser un archivo de todas las solicitudes de información. No se permite cargar otras solicitudes en esta página puesto que no podemos verificar si las respuestas proceden efectivamente de una institución pública.</p>
  <p>Si deseas hacer pública una respuesta, tienes que volver a realizar la solicitud a través de Queremosdatos.co.</p>
</dd>

</dl>

<!--p><strong>Next</strong>, read about <a href="/help/privacy">your privacy</a> --&gt; -->

<div id="hash_link_padding"></div>

</div>
